ftg-main-master/Communicatie/PC-Arduino-PC/PC-Arduino-PC/Service References/GarageServer/MessageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MessageService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MessageService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MessageService/Imports">
      <xsd:import namespace="MessageService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrafficMessage_Handshake_InputMessage">
    <wsdl:part name="parameters" element="tns:Handshake" />
  </wsdl:message>
  <wsdl:message name="ITrafficMessage_Handshake_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandshakeResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficMessage_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ITrafficMessage_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficMessage_RetrieveMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMessage" />
  </wsdl:message>
  <wsdl:message name="ITrafficMessage_RetrieveMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficMessage_Exit_InputMessage">
    <wsdl:part name="parameters" element="tns:Exit" />
  </wsdl:message>
  <wsdl:message name="ITrafficMessage_Exit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExitResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrafficMessage">
    <wsdl:operation name="Handshake">
      <wsdl:input wsaw:Action="MessageService/ITrafficMessage/Handshake" message="tns:ITrafficMessage_Handshake_InputMessage" />
      <wsdl:output wsaw:Action="MessageService/ITrafficMessage/HandshakeResponse" message="tns:ITrafficMessage_Handshake_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="MessageService/ITrafficMessage/SendMessage" message="tns:ITrafficMessage_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="MessageService/ITrafficMessage/SendMessageResponse" message="tns:ITrafficMessage_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessage">
      <wsdl:input wsaw:Action="MessageService/ITrafficMessage/RetrieveMessage" message="tns:ITrafficMessage_RetrieveMessage_InputMessage" />
      <wsdl:output wsaw:Action="MessageService/ITrafficMessage/RetrieveMessageResponse" message="tns:ITrafficMessage_RetrieveMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exit">
      <wsdl:input wsaw:Action="MessageService/ITrafficMessage/Exit" message="tns:ITrafficMessage_Exit_InputMessage" />
      <wsdl:output wsaw:Action="MessageService/ITrafficMessage/ExitResponse" message="tns:ITrafficMessage_Exit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>