Fontys-Courses-master/CSA/Week3aWCFApp/client/Connected Services/ServiceRef/MyWebshopContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MyWebshopContract" elementFormDefault="qualified" targetNamespace="MyWebshopContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyWebshopContract" />
  <xs:element name="connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebshopName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebshopNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWebshopNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyWebshopContract" minOccurs="0" name="GetProductsListResult" nillable="true" type="q1:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newClientConnected">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberOfConnectedClients" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productSold">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyWebshopContract" minOccurs="0" name="product" nillable="true" type="q2:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productSoldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>